@import "tailwindcss";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  --landing-bg-xs-position: 61.4% 39.89%;
  --landing-bg-sm-position: 45% 39.89%;
  --home-bg-xs-position: 74.13% 50%;
  --home-bg-sm-position: 50% 50%;
  --about-bg-position: 100% 50%;
  --contact-gradient-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("/images/contact.webp");
  --work-gradient-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/home/image2.webp");
  --counter-gradient-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/home/image7.webp");
}

* {
  box-sizing: border-box;
}
